{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "challenges/challenges.css" %}"> 
    <link rel="stylesheet" href="{% static "challenges/includes/header.css" %}"> 
{% endblock %}

{% block page_title %}
    All Challenges
{% endblock %}

{% block content_body %}

    {% include "./includes/header.html" with active_page="index" %}
    
    <ul>
        {% for month in month_list %}
            <li> <a href="{% url 'month-challenge' month=month %}"> {{month | title}} </a> </li>
        {% empty %}
            <li> Sorry, no challenges available </li>
        {% endfor %}
    </ul>
{% endblock %}
